<div class="container">
  <div class="row">
    <h2 class="section-title">About Me</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
    <img class="profile" src="https://res.cloudinary.com/dho1fmz51/image/upload/c_thumb,h_310,w_414/v1499441363/WechatIMG57_feeubm.jpg" alt="Profile image">
    
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="info">
        <!-- <img class="profile" src="http://res.cloudinary.com/dho1fmz51/image/upload/v1499456021/WechatIMG65_phdknq.jpg" alt="Profile image"> -->
        

        <p class="my-name">李天</p>
        <ul class="social-links">
          <li>
            <a href="https://www.linkedin.com/in/tian-li-879b8bb2" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/tian-li" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/hybridsuns/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-md-6">
      <div class="self-intro">
        <ul>
          <li>
            <i class="fa fa-code"></i>
            <p>Looking for a Wed Developer job</p>
          </li>
          <li>
            <i class="fa fa-camera-retro"></i>
            <p>Amateur photographer</p>
          </li>
          <li>
            <i class="fa fa-road"></i>
            <p>Travelle along Route 66, road trip enthusiast</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>