<header>
  <nav class="navbar">
    <div class="container">
      <div class="row">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/index">CMS</a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/index/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/index/gallary">Gallary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/index/about">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>