<header>
  <nav>
    <div class="row nav-row">
      <a class="logo" routerLinkActive="active" routerLink="/home">CMS</a>
      <ul class="main-nav">
        <li><a routerLinkActive="active" routerLink="/blog">Blog</a></li>
        <li><a routerLinkActive="active" routerLink="/gallary">Gallary</a></li>
        <li><a routerLinkActive="active" routerLink="/about">About Me</a></li>
      </ul>
    </div>
    <div class="hero-text-box">
      <h1>Welcome To My Blog</h1>
    </div>
  </nav>
</header>
<section class="section-blog">
  <div class="row">
    <h2>BLOGS</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-3" *ngFor=" let blog of blogs; let i = index ">
      <div class="blog-item">
        <div class="blog-img-container">
          <img src="{{blog.imagePath}}" alt="img" class="blog-img">
        </div>
        <div class="blog-thumb-info">
          <p class="blog-date">Aug. 9, 2017</p>
          <a class="blog-thumb-title" [routerLink]="'../blog/'+i">{{blog.title}}</a>
          <p class="blog-summary">{{blog.summary}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-gallary clearfix">
  <div class="row">
    <h2>GALLARY</h2>
  </div>
  <ul class="gallary-showcase clearfix">
    <li *ngFor=" let g of gallary; let i = index ">
      <figure class="gallary-photo">
        <img src="{{g.imagePath}}" alt="{{g.title}}">
        <div class="overlay">
          <div class="text">
            <p class="g-title">{{g.title}}</p>
            <p class="g-date">{{g.date}}</p>
          </div>
        </div>
      </figure>
    </li>
  </ul>
</section>
<section class="section-about-me">
  <div class="row">
    <h2>About Me</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-3">
      <div class="info">
        <img class="profile" src="http://res.cloudinary.com/dho1fmz51/image/upload/v1499456021/WechatIMG65_phdknq.jpg" alt="Profile image">
        <p class="my-name">李天</p>
        <ul class="social-links">
          <li>
            <a href="https://www.linkedin.com/in/tian-li-879b8bb2" target="_blank"><i class="ion-social-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/tian-li" target="_blank"><i class="ion-social-github"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/hybridsuns/" target="_blank"><i class="ion-social-instagram"></i></a>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="col span-3-of-5">
      <div class="self-intro">
        <ul>
          <li>
            <i class="ion-code"></i><p>Looking for a Wed Developer job</p>
          </li>
          <li>
            <i class="ion-camera"></i><p>Amateur photographer</p>
          </li>
          <li>
            <i class="ion-android-car"></i><p>Travelle along Route 66, road trip enthusiast</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>