header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/css/img/hero.jpg);
  background-size: cover; 
  background-position: center;
  height:100vh; 
}

/* -------------------------- */
/* Blog List*/
/* -------------------------- */
.section-blog a:link,
.section-blog a:visited{
  color: #555;
}



/* -------------------------- */
/* Gallary Section*/
/* -------------------------- */

.section-gallary{
  background-color: #f4f4f4;
  padding-bottom: 0;
}


.section-gallary a:link,
.section-gallary a:visited{
  color: #555;
}

.gallary-showcase {
  list-style: none;
  width: 100%;
}
.gallary-showcase li {
  display: block;
  float:left;
  width:25%;
}

/* -------------------------- */
/* About */
/* -------------------------- */

.section-about-me a:link,
.section-about-me a:visited{
  color: #555;
}