.hero-box {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/css/img/hero.jpg);
  background-size: cover; 
  background-position: center;
  height:100vh; /* 100% of viewport */
  background-attachment: fixed;
}

.hero-text-box{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* -------------------------- */
/* Gallary Section*/
/* -------------------------- */

.section-gallary{
  background-color: #f4f4f4;
  padding-bottom: 0;
}

.gallary-showcase {
  list-style: none;
  width: 100%;
}
.gallary-showcase li {
  display: block;
  float:left;
  width:25%;
}


@media only screen and (max-width: 1200px) {
  .hero-tex-box {
    padding-left: 10px;
    font-size: 10%;
  }
}