<section class="jumbotron jumbotron-billboard">
  <div class="img"></div>
  <div class="jumbotron-text">
    <h1>Keep Calm And Code On</h1>
    <h2>The Stupidest Website</h2>
  </div>
</section>

<section class="section-blog">
  <div class="container">
    <h2 class="section-title">BLOG</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let blog of blogs; let i = index">
        <div class="car blog-item">
          <div class="blog-img-container">
            <img class="card-img-top blog-img" src="{{blog.imageUrl}}" alt="Card image cap">
          </div>

          <div class="card-body">
            <h4 class="card-title">{{blog.title}}</h4>
            <p class="card-text">{{blog.summary}}</p>
            <a [routerLink]="'./blog/'+blog.id" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-gallary">
  <div class="container">
    <h2 class="section-title">Gallary</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let blog of blogs; let i = index">
        <div class="car blog-item">
          <div class="blog-img-container">
            <img class="card-img-top blog-img" src="{{blog.imageUrl}}" alt="Card image cap">
          </div>

          <div class="card-body">
            <h4 class="card-title">{{blog.title}}</h4>
            <p class="card-text">{{blog.summary}}</p>
            <a [routerLink]="'./blog/'+blog.id" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>