/* You can add global styles to this file, and also import other style files */
/* Color: #47c9e5; */
/*---------------------------------------------*/
/*basic setup*/
/*---------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  color: #555;
  font-family:-apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
  /*font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;*/
  font-size: 18px;
  font-weight: regular;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
}

.clearfix {zoom:1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*---------------------------------------------*/
/*resuable components*/
/*---------------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;  top and Bottom are 0, left and right are auto 
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing:4px;
  letter-spacing:1px;
}

h2 {
  font-size:180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing:1px;
}

h2:after {
  display: block;
  height:2px;
  background-color: #47c9e5;
  content:" ";
  width:100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

a {
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
  color: #555;
}


.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42858;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pull-right {
  text-align: right;
}


/* -------------------------- */
/* Blog list */
/* -------------------------- */

.blog-item {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 30px;
}

.blog-img-container {
  height: 323px;
  width: 323px;
  overflow: hidden;
  background: #000;
  margin-top: 15px;
}

.blog-img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  backface-visibility: hidden;
}

.blog-img:hover {
  opacity: 1;
  transform: scale(1.03);
}

.blog-thumb-info {
  width: 100%;
  padding: 25px 13% 32px 13%;
  box-shadow: 0px 15px 45px -9px rgba(0,0,0,0.20);
}

.blog-thumb-title:link,
.blog-thumb-title:visited {
  display: block;
  font-weight: 400;
  font-size: 120%;
  color:#3f3f3f;
  text-decoration: none;
  transition: color 0.2s;
  margin-bottom: 16px;
}

.blog-thumb-title:hover,
.blog-thumb-title:active {
  color:#47c9e5;
}

.blog-date {
  text-align: right;
  font-size: 70%;
  color: #8d8d8d;
  margin-top: 0px;
  margin-bottom: 13px;
}

.blog-summary {
  line-height: 1.5;
  color: #8d8d8d;
  font-size: 90%;
  text-align: left;
  text-overflow: ellipsis;
}

/* -------------------------- */
/* Gallary List*/
/* -------------------------- */

.gallary-photo {
  position:relative;
  background: #000;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.gallary-photo img {
  object-fit: cover;
  opacity: 1;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  backface-visibility: hidden; /* 不加这一句的话，图片伸缩时其他图片也会动 */
}

.gallary-photo:hover img {
  opacity: 0.7;
  transform: scale(1.03);
}

.gallary-photo:hover .overlay {
  /*opacity: 0.5；*/
  background-color: rgba(50,50,50,0.2);
}

.gallary-photo:hover .text{
  opacity: 1;
}

.text{
  width: 100%;
  opacity: 0;
  color: #fff;
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text p {
  width: 100%;
  margin-top: 10px;
}

.g-title {
  font-size: 130%;
  text-transform: uppercase;
}

.g-date {
  font-size: 80%;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color: rgba(50,50,50,0);
}


/* -------------------------- */
/* About Me*/
/* -------------------------- */

.info {
  float: right;
  text-align: center;
}

.my-name {
  font-size: 200%;
  margin: 15px auto;
}

.profile {
  height: 200px;
  border-radius: 50%;
}

.social-links {
  list-style: none;
  text-align: center;
}

.social-links li {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;

}

.social-links li a:link,
.social-links li a:visited {
  font-size: 150%;
  color: #555;
}

.self-intro {
  /*width: 100%;*/
  margin-top: 40px;
  margin-left: 50px;
}

.self-intro ul {
  list-style: none;
}

.self-intro ul li {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

.self-intro ul li i{
  font-size: 145%;
}

.self-intro ul li p {
  display: inline-block;
  margin-left: 20px;
  font-size: 120%;
}