.blog-item {
  box-shadow: 0px 15px 45px -9px rgba(0, 0, 0, 0.20);
}

.blog-img-container {
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.blog-img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  backface-visibility: hidden;
}

.blog-img:hover {
  opacity: 1;
  transform: scale(1.0);
}

p.card-text {
  height: 110px;
}

.read-more {
  color:rgb(102, 102, 102);
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.read-more:hover {
  color: #47c9e5;
}