<div class="row">
  <div class="blog-full-container">
    <div class="row">
      <h1 class="blog-full-title">{{blog?.title}}</h1>
      <p class="blog-full-meta"><i class="ion-ios-calendar-outline"></i>Aug 9, 2017 <i class="ion-pound"></i> tag1, tag2</p>
      
    </div>
    <div class="row">
      <p class="content">{{blog?.content}}</p>
    </div>
  </div>

  <div class="row display-comments">
      <div class="row comment" *ngFor=" let comment of blog?.comments">
        <p>username: {{comment?.username}}</p>
        <p>comment: {{comment?.content}}</p>
      </div>
    </div>
    <div class="row new-comment">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <label for="username">Name: </label>
          <input 
            type="text"
            id="username"
            [ngModel]="comment?.username"
            name="username"
            required>
        </div>
        <div class="row">
          <label for="content">Content: </label>
          <input 
            type="text"
            id="content"
            [ngModel]="comment?.content"
            name="content"
            required>
        </div>
        <div class="row">
          <button type="submit">Comment</button>
        </div>
      </form>
    </div>
    
</div>