.blog-full-container{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 40px;
  min-height: 80vh;
}

.blog-full-title {
  margin-top: 30px;
  margin-bottom: 0;
  color:#3f3f3f;
  padding-bottom: 5px;
  /*padding-left: 5px;*/
  border-bottom: 1px solid #e5e5e5;
}

.blog-full-meta {
  margin-top: 5px;
  /*padding-left: 8px;*/
  color: 8d8d8d;
  font-size:90%;
}

.blog-full-meta i {
  display: inline-block;
  font-size: 120%;
  margin: 0 5px;
}

.content {
  margin-top: 30px;
  line-height: 1.5;
  /*letter-spacing: 1px;*/
}

.content .p {
  
}