<div class="row">
  <div class="section-blog" style="border: 1px solid purple">
    <p>blog list component</p>
    <h2>BLOGS</h2>
  </div>
  <div class="row">
    <div class="col col-md-4 blog-item" *ngFor=" let blog of blogs; let i = index ">
      <div class="blog-img-container">
        <img src="{{blog.imageUrl}}" alt="img" class="blog-img">
      </div>
      <div class="blog-thumb-info">
        <p class="blog-date">Aug. 9, 2017</p>
        <a class="blog-thumb-title" [routerLink]="[blog.id]">{{blog.title}}</a>
        <p class="blog-summary">{{blog.summary}}</p>
      </div>
    </div>
  </div>
</div>