<div class="row">
  <div class="photo-container clearfix">
    <div class="col span-2-of-3">
      <img src="{{photo?.full}}" alt="">
    </div>
    <div class="col span-1-of-3 right">
      <div class="photo-meta">
        <p>{{photo?.date}}</p>
        <p>{{photo?.city}}, {{photo?.state}}</p>
      </div>
      <div class="comment">
        
        <input type="text" placeholder="comment">
        <div class="comment-content">
          <p><span>孙悦轩:</span>好好好</p>
          <p><span>max-queen:</span>漂亮漂亮</p>
        </div>
      </div>
    </div>
    
  </div>
</div>