.col {
  margin: 0;
}
.photo-container {
  margin:50px 20px;
  min-height: 100%;
  width: auto;
}

.photo {
  margin: 0;
  width:65%;
  float:left;
  text-align: center;
  padding-bottom: 20px;
  /*border-bottom: 1px solid #ddd;*/
}

.photo-container img {
  /*height: 80vh;
  width: auto;*/
  width:100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*max-height: 80vh;
  width: auto;*/
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.right {
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
}

.comment {
  width: 80%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.comment input {
  width: 100%;
  height: 50px;
  /*border: 1px soild #ddd;*/
  /*border-radius: 5px;*/
}

.comment-content {
  margin-top: 20px;
}

.comment-content p{
  font-weight: 100;
  font-size: 90%;
  margin: 4px 0;
}
.comment-content p span{
  font-weight: 400;
  display: inline-block;
  margin-right: 5px;
}