.photo-container {
  margin:50px 0;
}

.photo {
  text-align: center;
  padding-bottom: 20px;
  /*border-bottom: 1px solid #ddd;*/
}

.photo-container img {
  height: 80vh;
  width: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;

}
