<section class="gallary-container">
  <div class="row">
    <h2>Gallary</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-3" *ngFor=" let g of gallary; let i = index ">
      <div class="gallary-item">
       <img src="{{g.thumb}}" alt="{{g.title}}">
       <a [routerLink]="'../gallary/'+i"><div class="overlay">
         <div class="text">
           <i class="ion-ios-heart"></i>23
           <i class="ion-ios-chatboxes"></i>13
         </div>
       </div></a>
       </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
