<section class="gallary-container">
  <div class="row">
    <h2>Gallary</h2>
  </div>
  <div class="row">
    <div class="col col-md-4" *ngFor=" let g of gallary; let i = index ">
      <div class="gallary-item">
       <img src="{{g.thumb}}" alt="{{g.title}}">
       <a [routerLink]="'../gallary/'+g.id"><div class="overlay">
         <div class="text">
           <i class="ion-ios-heart"></i>{{g.likes}}
           <i class="ion-ios-chatboxes"></i>{{g.comments.length}}
         </div>
       </div></a>
       </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
