<div>
<a [routerLink]="['../new-gallary']">New Gallary</a>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <label class="col span-1-of-3" for="title">Title:</label>
      <input 
        class="col span-2-of-3"
        type="text" 
        id="title" 
        [ngModel]="blog?.title" 
        name="title" 
        required>
    </div>
    <div class="row">
      <label class="col span-1-of-3" for="title">tags:</label>
      <input 
        class="form-control col span-2-of-3"
        type="text" 
        id="tags" 
        [ngModel]="blog?.tags" 
        name="tags" 
        required>
    </div>
    <div class="row">
      <label class="col span-1-of-3" for="summary">Summary:</label>
      <textarea 
        class="form-control col span-2-of-3"
        type="text" 
        id="summary" 
        [ngModel]="blog?.summary" 
        name="summary" 
        required></textarea>
    </div>
    <div class="row">
      <label class="col span-1-of-3" for="content">Content:</label>
      <textarea 
        class="form-control col span-2-of-3"
        type="text" 
        id="content" 
        [ngModel]="blog?.content" 
        name="content" 
        required></textarea>
    </div>
    <div class="row">
      <label class="col span-1-of-3" for="imageUrl">ImageUrl:</label>
      <input 
        class="form-control"
        type="text" 
        id="imageUrl" 
        [ngModel]="blog?.imageUrl" 
        name="imageUrl" 
        required>
    </div>
    <div class="row">
      <button type="button" (click)="onClear(f)">Clear</button>
      <button type="submit">Save</button>
    </div>
  </form>
</div>